<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div class="panel-heading title"></div>
<div class="layui-card-body">
    <form class="layui-form " action="" style="width: 700px;margin-top: 10px">
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block">
                <input type="text" name="projectName" placeholder="请输入项目名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label ">项目编号</div>
            <div class="layui-input-block">
                <input type="text" name="projectID" placeholder="请输入项目编号" autocomplete="off" class="layui-input">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <div class="layui-form-label ">项目</div>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="phone" name="phone" placeholder="" autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
            </div>
        </div>
    </form>
</div>

</body>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    var form = layui.form;
    var layer = layui.layer;
    var $ = jquery = layui.jquery;
        /**/
        form.on('submit(submit)', function (data) {

            if (data.field.projectName == '') {
                layer.msg('请输入项目名称');
                return false;
            }
            if (data.field.projectID == '') {
                layer.msg('项目名称不能为空');
                return false;
            }
            var params = {
                projectName: data.field.projectName,
                projectID: data.field.projectID,
            }
            CoreUtil.sendPost("/sys/project/add", params, function (res) {
                layer.msg("新增成功!")

            });
            return false;  // 必须加上，否则接收不到响应，一直loading
        });

</script>

</html>
